[Unit]
Description=Docker Application Container Engine
Documentation=https://docs.docker.com
After=network.target docker.socket flanneld.service docker.service
Requires=docker.socket

[Service]
Type=notify
# the default is not to use systemd for cgroups because the delegate issues still
# exists and systemd currently does not support the cgroup feature set required
# for containers run by docker
EnvironmentFile=-/run/flannel/subnet.env
ExecStartPre=/sbin/ifconfig docker0 ${FLANNEL_SUBNET}
#ExecStartPre=/bin/systemctl stop docker.service
#ExecStart=/usr/bin/docker daemon -H fd:// --bip=${FLANNEL_SUBNET} --mtu=${FLANNEL_MTU}
ExecStart=/bin/systemctl restart docker.service

[Install]
WantedBy=multi-user.target

